doctype 5
html
  head
    title= title
    link(rel='image_src', href='http://ninjapages.herokuapp.com/images/ninjapages_icon.png')
    link(rel="shortcut icon", href="/images/ninjapages_icon.png")
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
    link(rel='stylesheet', href='/stylesheets/wrapper.css')
    link(rel='stylesheet', href='/stylesheets/footer.css')

    meta(content='Deploy and host HTML5 webpages in the cloud. Ninjapages is the fastest and simplest solution to hosting static pages.', NAME='description')
    meta(content='ninjapage, ninjapages, Jared, Wright, HTML5, cloud, node, nodejs', NAME='keywords')
    meta(content='Jared Wright', name='author')
    meta(charset='UTF-8')
    meta(content='text/html; charset=utf-8', HTTP-EQUIV='Content-Type')

   

    script(src='javascripts/jquery-1.8.3.min.js')
    script(src='javascripts/clearForms.js')

      
  body
    span(id='box')
      #header
        #nav
          ol
          
            #li_logo
              li
                a(href="/")
                  img(src='/images/ninjapages_logo.png', height=40, width=190)
              
                
            #options
              
              li#search
                form(method='get', id='searchForm')
                  input(type='text', name='search',placeholder='search', class='cool_outline1', id='search_text')
              #options_list
                if (typeof username != 'undefined')
                  - var x = username
                  if (x.length > 16)
                    x = x.substring(0, 16) + '...'
                  li(name='user', style='font-size:110%;') Hello, <label style='color:#00B4CC'>#{x}</label>
                li
                  a(href='/') Home
                li
                  a(href='/') Pages
                li
                  a(href='/signup') Signup
                if (typeof username != 'undefined')
                  li
                    a(href='/logout') Logout
                

      
      

          
      block Content 
      #footer
        br
        p Copyright &copy Ninjapages #{+new Date().getFullYear()}
        br
        a(href='/') Blog
        |
        a(href='http://github.com/jawerty') Github
        |
        a(href='/') About
        |
        a(href='/contact') Contact
        br
        br
        a(href="https://twitter.com/Jawerty", class="twitter-follow-button", data-show-count="false", data-size="large") Follow @Jawerty
        script(type='text/javascript') !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");