extends layout
block Content

  #login_signup
    #user_profile(style='float:left')
      br
      h1(style='margin-left: 0%;font-size:250%') #{user}'s Profile
      if(typeof username!='undefined')
        a(href='/user/#{user}/edit', style='text-decoration:none;color:#00B4CC;font-size:150%;font-family:verdana;') Edit Info
      br
      br
      label(style='font-weight:bold;') Bio:&nbsp
      label= users['bio']
      br 
      br
      label(style='font-weight:bold;') Name:  
      label= users['first'] 
      &nbsp
      label= users['last']
      br
      br
      label(style='font-weight:bold;') Email:&nbsp
      label= users['email']
      br 
      br
      if (users['site'] == null)
        br
      else
        label(style='font-weight:bold;') Website:&nbsp
        a(href='#{users['site']}', style='word-wrap:break-word;text-decoration:none;color:#00B4CC;font-size:150%;font-family:verdana;')= users['site']
    if (typeof username == 'undefined')
      p(style='margin-left:3%')
    else
      #forms(style='width:50%;margin-left:1%;float:left;border-left: 1px solid #c2c2c2;')
        form(method='post', enctype="multipart/form-data" )
          #scriptForm(
            h1(style='margin-left:0%;color:#00B4CC;') Quick Publish
            
            p #{failure}
            br
            input(type='text', name='title', placeholder='Title', id='scriptTitle')br
            br
            textarea(id='scriptArea', name='code', value="Enter your code here", placeholder='HTML5 code')br
            br
            input(type='submit', value='Publish Script', id='scriptSubmit')
        br
        a(href='/user/#{user}/upload/file', id='fileSubmit') *or Upload your HTML files
          
    br
    #pages_display(style='width:100%;float:left;')
      h1(style='font-size:220%;') Pages (Beta)
      #pages_list(style='border-top: 1px solid #c2c2c2;padding-left:2%;width:98%')
        for page in pages
          li(style='list-style:none;margin:1%;')
           a(href='/user/#{user}/#{page.title}', style='text-decoration:none;color:#00B4CC;font-size:150%;font-family:verdana;')= page.title
           label(style='margin-left: 1%;font-family: sans-serif;color:#505050;font-size: 130%;') Created on:
           label(style='margin-left: 1%;font-family: sans-serif;color:#505050;font-size: 130%;')= page.created
           if(typeof username != 'undefined')
             a(href='/user/#{user}/#{page.title}/delete', style='text-decoration:none;color:#343838;font-weight: bold; font-size:120%;font-family:verdana;') &nbspDelete

             label(style='text-decoration:none;color:#00B4CC;font-weight: bold; font-size:120%;font-family:verdana;')&nbsp|

             a(href='/user/#{user}/#{page.title}/edit', style='text-decoration:none;color:#343838;font-weight: bold; font-size:120%;font-family:verdana;') &nbspEdit
  script(type='text/javascript')
    var editor = CodeMirror.fromTextArea(document.getElementById("scriptArea"), {
      mode: "text/html",
      lineNumbers: true,
      tabMode: "indent",
      matchBrackets: true,
      searchMode: 'inline',
      onCursorActivity: function () {
        editor.setLineClass(hlLine, null);
        hlLine = editor.setLineClass(editor.getCursor().line, "activeline");
      }
    });